@import url('https://fonts.googleapis.com/css?family=Baloo+2:500&display=swap');

:root {
  --clr-black: hsl(0, 0%, 0%);

  --clr-blue-200: hsl(210, 100%, 82%);
  --clr-blue-500: hsl(204, 77%, 52%);

  --clr-gray-200: hsl(0, 0%, 86%);

  --clr-white-100: hsl(0, 0%, 100%);

  --clr-orange-400: hsl(39, 95%, 50%);

  --clr-red-600: hsl(0, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    89.81deg,
    hsla(274, 98%, 53%, 0.6) 0.07%,
    hsla(14, 82%, 50%, 0.78) 37.04%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Baloo 2', cursive;
}

.player-container {
  position: relative;
  height: 90vh;
  width: 40vw;
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--clr-white-100);
  background: linear-gradient(
    180deg,
    hsl(205, 100%, 38%),
    hsla(0, 0%, 0%, 0.88) 100%
  );
  box-shadow: 0px 0px 50px hsl(0, 0%, 0%);
  border-radius: 20px;
}

.range-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mute {
  font-size: 20px;
  cursor: pointer;
  color: var(--clr-white-100);
}

.muted {
  color: var(--clr-red-600);
  font-size: 20px;
  cursor: pointer;
}

.volume-up {
  font-size: 18px;
  color: var(--clr-white-100);
}

input[type='range'] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 15px;
  width: 300px;
  background-color: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px var(--clr-black);
  background: var(--clr-blue-500);
  border-radius: 1px;
  border: 0px solid var(--clr-black);
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px var(--clr-black);
  border: 1px solid var(--clr-blue-500);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-blue-200);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--clr-blue-500);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px var(--clr-black);
  background: var(--clr-blue-500);
  border-radius: 1px;
  border: 0px solid var(--clr-black);
}

input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px var(--clr-black);
  border: 1px solid var(--clr-blue-500);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-blue-200);
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: var(--clr-blue-500);
  border: 0px solid var(--clr-black);
  border-radius: 2px;
  box-shadow: 0px 0px 0px var(--clr-black);
}

input[type='range']::-ms-fill-upper {
  background: var(--clr-blue-500);
  border: 0px solid var(--clr-black);
  border-radius: 2px;
  box-shadow: 0px 0px 0px var(--clr-black);
}

input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px var(--clr-black);
  border: 1px solid var(--clr-blue-500);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-blue-200);
  cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
  background: var(--clr-blue-500);
}

input[type='range']:focus::-ms-fill-upper {
  background: var(--clr-blue-500);
}

.image-container {
  width: 200px;
  height: 200px;
}

img {
  object-fit: cover;
  height: 200px;
  width: inherit;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
  animation-play-state: paused;
}

.music-title {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--clr-gray-200);
}

.cta-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.previous-btn,
.next-track-btn {
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-white-100);
  outline: none;
  border: 0;
  font-size: 40px;
}

.play-btn {
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-orange-400);
  outline: none;
  border: 0;
  font-size: 60px;
}

.replay,
.random {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: var(--clr-white-100);
}

.replay:focus,
.random:focus {
  outline: none;
}

.active-replay {
  color: var(--clr-red-600);
}

.progress-container {
  background: var(--clr-white-100);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 90%;
}

.progress {
  background-color: var(--clr-orange-400);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transition: width 0.1s linear;
}

.time-progress {
  position: absolute;
  top: 89%;
  left: 5%;
  font-size: 20px;
}

.total-track-time {
  position: absolute;
  top: 89%;
  right: 5%;
  font-size: 20px;
}

.play {
  animation-play-state: running;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .player-container {
    width: 70vw;
  }
}

@media (max-width: 900px) {
  .player-container {
    width: 90vw;
  }
  .image-container {
    width: 100px;
    height: 100px;
  }
  img {
    height: 100px;
    width: inherit;
  }

  .previous-btn,
  .next-track-btn {
    font-size: 20px;
  }
  .play-btn {
    font-size: 30px;
  }
  .replay,
  .random {
    font-size: 15px;
  }

  .time-progress {
    top: 82%;
    font-size: 15px;
  }

  .total-track-time {
    top: 82%;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .player-container {
    width: 90vw;
  }

  .music-title {
    font-size: 18px;
  }

  .time-progress {
    top: 86%;
  }

  .total-track-time {
    top: 86%;
  }
}
